#stotop {
    display: block;
    position: fixed;
    bottom: 25px;
    right: -50px;
    transition: 0.5s;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: rgba(166, 166, 166, 0.2);
    text-indent: -9999px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    border-bottom: none;
    outline: none;
    z-index: 8
}
#stotop span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: rgba(166, 166, 166, 0.9);
}
#stotop:hover {
    -webkit-filter: brightness(108%);
    filter: brightness(108%);
}
#stotop.btt-visible {
    transform: translate(-75px, 0)
}
#stotop-top {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
}
