@font-face {
    font-family: "laoyuedong";
    src: url("laoyuedong.eot"); /* IE9 */
    src: url("laoyuedong.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("laoyuedong.woff") format("woff"), /* chrome、firefox */
    url("laoyuedong.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("laoyuedong.svg#laoyuedong") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


